/* 주변 시설 등록 */
.facregist_container {
	display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(50vh - 450px);
    right: 0;
    
    width: 1000px;
	height: 800px;
	
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}
.facregist_default {
    margin: auto;
}
.flex_row {
	display: flex;
    flex-direction: row;
}
.flex_column {
	display: flex;
    flex-direction: column;
}
/* title */
.facreg1 {
	position: relative;
    text-align: center;	
	
	width: 800px;
	height: 30px;
	
	text-align: center;
	
	margin: 24px auto;
	margin-top: 0;
}
.facreg_title {
	display: inline-block;
	
	font-family: var(--font-logo);
	font-size: var(--font-size-head3);
	font-weight: 1000;
	
	color: #333333;
	
	margin-top: 6px;
}
/* 제목 */
.facreg2 {
	justify-content: space-between;
	
	width: 800px;
	height: 50px;
	
	margin: 15px auto;
}
.fac_type {
	width: 70px;
	height: 50px;
	border: none;
	
	border-radius: 5px;
}
.facreg_inp_title {
	width: 720px;
	height: 50px;
	
	border-radius: 5px;
	
	padding: 19px 20px;
}
/* 내용 */
.facreg3 {
	justify-content: space-between;
	
	width: 800px;
	height: 180px;
	
	margin: 5px auto;
}
.inp_cont {
	justify-content: space-between;
	
	width: 650px;
	height: 180px;
}
/* 주소 검색 */
.facreg_addr {
	justify-content: space-between;
	
	width: 650px;
	height: 50px;
	
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottm: 10px;
}
.facreg_inp_addr {
	width: 570px;
	height: 50px;
	
	border-radius: 5px;
	
	padding: 9px 20px;
}
.facreg_inp_addrbtn {
	width: 70px;
	height: 50px;
	
	border-radius: 3px;
}
/* 시간 입력 */
.facreg_time {
	justify-content: space-between;
	
	width: 650px;
	height: 50px;
}
.facreg_inp_time {
	width: 280px;
	height: 50px;
	
	padding: 9px 20px;
	text-align: center;
	
	border-radius: 3px;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}
/* 내용 입력 */
.facreg_inp_link {
	width: 650px;
	height: 50px;
	
	border-radius: 5px;
	
	padding: 9px 20px;
 	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottm: 10px;
}
/* 이미지 업로드 */
.facreg_inp_img {
	display: flex;
	justify-content: center;
	
	width: 140px;
	height: 180px;
	
	background: #fff;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	
}
.facreg_inp_img input[type="file"] {
	position: absolute;
	
	width: 1px;
	height: 1px;
	
	overflow: hidden;
	clip:rect(0,0,0,0);
	border: 0;
	
	padding: 0;
	margin: -1px;
}
.fac_inp_imgcon {
	align-item: center;
	
	margin: auto;
}
.preview_title {
	font-weight: 700;
	font-size: 12px;
	line-height: 12px;
	text-align: center;

	color: #333333;
	
	margin: 10px auto;
}
.preview_size {
	font-weight: 700;
	font-size: 10px;
	line-height: 10px;
	text-align: center;

	color: #333333;
	
	margin: 5px auto;
}
/* 명소 main 이미지 */
.preview_img {
	width: 100px;
	height: 60px;
	
	background: #D9D9D9;
	border-radius: 5px;
	
	margin: 5px auto;
}
.preview_btn {
	width: 80px;
	height: 30px;
	
	font-weight: 700;
	font-size: 12px;
	color: #fff;
	line-height: 30px;
	text-align: center;
	
    background-color: var(--color-black);
    border-radius: 5px;
    
    cursor: pointer;
    transition: box-shadow, transform .1s, .1s;
    
    margin: 5px auto;
}
/* 하단 버튼 */
.facreg4 {
	justify-content: center;
	
	width: 800px;
	height: 35px;
	
	margin: 38px auto;
	margin-bottom: 0;
}
.facreg_reg_btn {
	width: 70px;
	height: 35px;

	background: #333333;
	border-radius: 5px;
}
.facreg_cac_btn:not([type="text"]) {
	width: 70px;
	height: 35px;

	color: #333333;
	background: #fff;
	border: 1px solid #333333;
	border-radius: 5px;
	
	margin: 0 5px;
}

/* 반응형  */
/* @media (max-height: 950px) {
	.admin_container {
	    height: 760px;
	}
	.facregist_container {
		height: 760px;
	}
} */
@media (max-height: 800px) {
	.admin_container {
	    height: 650px;
	}
	.facregist_container {
		height: 650px;
	}
	.admin_menu {
		height: 650px;
		overflow-y: auto;
	}
	/* 
	.facreg4 {
		height: 360px;
	}
	.inp_cont {
		height: 360px;
	}
	.facreg_inp_textarea {
		height: 262px;
	}
	.facreg_inp_img {
		height: 360px;
	}  */
}

