/* 주변 시설 목록  =============================================================== */
.faclist_container {
	display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(50vh - 450px);;
    right: 0;
    
    width: 1000px;
	height: 800px;
	
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}
.faclist_default {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    width: 800px;
    height: 750px;

    margin: auto;
}
.faclist_default>div {
    width: 800px;
}

/* =====// board top : 게시판 제목, 선택 삭제, 게시물 등록 //===== */
.board_cont_form {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    
	width: 800px;
	height: 620px;
}
.board_top {
    position: relative;
    text-align: center;

    height: 30px;

    line-height: 30px;
}
.back_btn {
	position: absolute;
	display: inline-block;
	
	left: 0;
	width: 30px;
	height: 30px;
	
	border-radius: 5px;
	
	cursor: pointer;
}
.faclist_title {
    display: inline-block;

    font-family: var(--font-logo);
    font-size: var(--font-size-head3);
    
    cursor: pointer;
    
    margin-top: 6px;
}
.board_top>.select_delete, .board_top>input {
    position: absolute;
}
.board_top>.select_delete {
    display: inline-block;
    right: 100px;

    width: 70px;
    height: 30px;

    font-size: var(--font-size-cont3);
    color: var(--color-red);
    font-weight: 900;
    
    border: none;
    background-color:transparent;

    cursor: pointer;
}
.board_top>.select_delete:hover {
	border-radius: 5px;
    transform: translate(-1px, -1px);
}
.board_top>input {
    display: inline-block;
    right: 0;

    width: 90px;
    height: 30px;

    color: #fff;
    background-color: #333;
}

/* =====// board cont //===== */
.board_cont {
    height: 570px;

    box-sizing: border-box;
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
}
.list_title {
    /* 주변 시설 제목 */
    display: flex;
    align-items: center;

    width: 800px;
    height: 50px;

    box-sizing: border-box;
    border-bottom: 1px solid #333;
}
.list {
    /* 주변 시설 목록 */
    display: flex;
    flex-direction: column;
    justify-content: start;
    
    align-items: center;
    
    margin-top: 8px !important;
}
.list>li {
    /* 주변 시설 목록 */
    display: flex;
    align-items: center;

    width: 800px;
    height: 50px;
    border-radius: var(--radius-basic);

    transition: box-shadow, transform .1s, .1s;
}
.list>li:hover {
    background-color: var(--color-green);
    box-shadow: var(--shadow-basic);
    transform: translate(-3px, -3px);
}
.list>li>span {
    font-size: var(--font-size-cont3);
    font-weight: 100;
}
.list>li:hover>span, .list>li:hover a, .list>li:hover b {
    color: #fff;
}
.list>li>.board_date {
    font-size: var(--font-size-cont4);
}
.list>li>span>a:hover {
    /* 주변 시설 제목에 링크, 마우스 오버시 밑줄 */
    text-decoration: underline;
}
.list b {
    /* 공지, 이벤트 구분 머릿글, 이벤트 상태 */
    font-weight: 900;
    margin-right: 5px;
}
.list .event_inprogress {
    color: var(--color-green);
}
.list .event_end {
    color: var(--color-red);
}
.board_cont span {
    /* 주변 시설 제목, 목록 내 폰트 */
    display: inline-block;

    font-size: var(--font-size-menu1);
    font-weight: 600;
    text-align: center;
}
.fac_list_link {
	display: block;
	
	line-height: 50px;
}
.board_no {
    /* 주변 시설 번호 */
    width: 80px;
}
.board_title {
    /* 주변 시설명 */
    width: 160px
}
.board_addr {
    /* 주변 시설 주소 */
    width: 330px;
}
.board_stat {
    /* 주변 시설 상태 */
    width: 60px;
}
.board_date {
    /* 주변 시설 등록 날짜 */
    width: 100px;
}
.board_select {
    /* 주변 시설 선택 (체크박스) */
    width: 70px;
}

/* =====// board list page number //===== */
.board_page {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 800px;
    height: 20px;
}
.prev>span, .next>span,
.prev>a, .next>a,
.prev>a>span, .next>a>span {
    display: inline-block;

    width: 50px;
    height: 20px;

    line-height: 20px;
    text-align: center;

    border-radius: var(--radius-smaller);

    cursor: pointer;
}
.board_page_num {
	display: flex;
	justify-content: center;
	
    width: 400px;
}
.board_page_num>li {
    width: 30px;
    height: 20px;

    line-height: 20px;
    text-align: center;

    border-radius: var(--radius-smaller);

    cursor: pointer;
    
    margin: 0 5px;
}
.board_page span,
.board_page li {
    transition: background-color, color .3s, .3s;
}

.board_page li a {
	display: block;
	border-radius: 3px;
}

.board_page li a:hover {
    background-color: #333;
    color: #fff;
}

.select_page {
	background-color: #333;
    color: #fff;
}

/* =====// board bottom start //===== */
.board_bottom {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 800px;
    height: 30px;
}
.board_bottom_form {
	display: flex;

    justify-content: center;
    align-items: center;
    
	width: 550px;
	height: 30px;
}
.board_sort {
    /* 하단 정렬 */
    width: 170px;
    height: 30px;

    text-align: center;
}
.board_search {
    /* 하단 검색 */
    width: 380px;
    height: 30px;

    text-align: center;
}
.board_sort>select,
.board_search>select {
    width: 80px;
    height: 30px;

    border-radius: var(--radius-button);
}
.board_sort>input,
.board_search>input {
    width: 70px;
    height: 30px;


    background-color: var(--color-black);
    margin-left: 5px;

    border-radius: var(--radius-button);
}
.board_search>input[type="text"] {
    width: 180px;

    background-color: #fff;
    border: 1px solid #333;

    padding: 0 10px;
}


/* 반응형  */
/* @media (max-height: 950px) {
	.admin_container {
	    height: 760px;
	}
	.faclist_container {
		height: 760px;
	}
}  */
@media (max-height: 800px) {
	.admin_container {
	    height: 680px;
	}
	.faclist_container {
		height: 680px;
	}
	.admin_menu {
		height: 680px;
		overflow-y: auto;
	}
	.faclist_default {
		height: 680px;
	}
} 
